@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using BlazingPizza.Model

<div class="main">
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @if (_specials is not null)
        {
            @foreach (var special in _specials)
            {
                <li @onclick="@((() => ShowConfigurePizzaDialog(special)))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (_showConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="_configuringPizza"/>
}

@code
{
    List<PizzaSpecial> _specials = new();
    Pizza _configuringPizza;
    bool _showConfigureDialog;

    protected override async Task OnInitializedAsync()
    {
        _specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }

    void ShowConfigurePizzaDialog(PizzaSpecial special)
    {
        _configuringPizza = new Pizza
        {
            Special = special,
            SpecialId = special.Id,
            Size = Pizza.DefaultSize
        };

        _showConfigureDialog = true;
    }
}
